<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console Appender -->
    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{MM.dd. HH.mm.ss} [%t] [%level] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Rolling File Appender -->
    <appender name="RollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>Doc.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{MM.dd. HH.mm.ss} [%t] [%level] %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>doc_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!--  for com.quizapp with INFO level -->
    <logger name="com.quizapp" level="info" additivity="false">
        <appender-ref ref="ConsoleAppender"/>
        <appender-ref ref="RollingFileAppender"/>
    </logger>

    <!-- for org.springframework.boot with INFO level -->
    <logger name="org.springframework.boot" level="info" additivity="false">
        <appender-ref ref="ConsoleAppender"/>
        <appender-ref ref="RollingFileAppender"/>
    </logger>

    <!-- for com.quizapp with DEBUG level -->
    <logger name="com.quizapp" level="debug" additivity="false">
        <appender-ref ref="ConsoleAppender"/>
        <appender-ref ref="RollingFileAppender"/>
    </logger>

    <!-- for com.quizapp with ERROR level -->
    <logger name="com.quizapp" level="error" additivity="false">
        <appender-ref ref="ConsoleAppender"/>
        <appender-ref ref="RollingFileAppender"/>
    </logger>

    <!-- Root logger with INFO level for all other logs -->
    <root level="info">
        <appender-ref ref="ConsoleAppender"/>
        <appender-ref ref="RollingFileAppender"/>
    </root>

</configuration>
